*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Cera Pro Light';
    src: url('CeraPro-Light.eot');
    src: url('CeraPro-Light.eot?#iefix') format('embedded-opentype'),
    url('CeraPro-Light.woff') format('woff'),
    url('CeraPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }